<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<!-- 配置包扫描 -->
	<context:component-scan base-package="cn.zl.ssm" />
	
	<!-- 读取db.properties配置文件 -->
	<context:property-placeholder location="classpath:db.properties" />
	<!-- 创建druid连接池对象 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
	</bean>
	
	<!-- 集成mybatis的配置 -->
	<!-- 配置mybatis工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 配置数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 使用包扫描配置pojo别名 -->
		<property name="typeAliasesPackage" value="cn.zl.ssm.pojo" />
	</bean>
	<!-- 使用包扫描配置映射文件的代理对象 -->
	<bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 配置映射接口的包 -->
		<property name="basePackage" value="cn.zl.ssm.mapper" />
	</bean>
	
	<!-- 配置事务 -->
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 配置数据源 -->
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 配置事务通知增强 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- DQL -->
			<tx:method name="select*" read-only="true" />
			<!-- DML -->
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	<!-- AOP切入事务到service -->
	<aop:config>
		<!-- 配置切面 -->
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* cn.zl.ssm.service..*.*(..))" />
	</aop:config>
</beans>
